html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-size: 26px;
}

.menu-top__item a {
  color: red;
}

.menu-top__item_active a {
  color: green;
}

.menu-top_dark {
  background-color: darkblue;
}

.menu-top {
  background-color: green;
}