extends layout/main

block meta
  title=pageTitle

block content

  .page__content
    //- start Первый блок
    include blocks/section-header/index

    //- start блок с видео
    include blocks/section-video/index

    //- start блок Features
    include blocks/section-features/index

    section.section.section-contact
      .container
        .row
          .col-6
            .section-contact__text.wow.bounceInUp
              h2.h2 Contact
              p Questions or concerns? Just fill out the form below and our support team will get back to you within 24 hours
          .col-6
            form.form.form-feedback.wow.slideInRight(action="email/mail.php")
              //- Hidden Required Fields
              input(type="hidden" name="project_name" value="Grampus")
              input(type="hidden" name="form_subject" value="Обратная связь")
              .row
                .col-6
                  input.form-control(type="text" placeholder="First Name")
                .col-6
                  input.form-control(type="text" placeholder="Last Name")
              .row
                .col-12
                  input.form-control(type="tel" placeholder="Phone Number")
              .row
                .col-12
                  select.form-control(name="")
                    option(value="") option 1
                    option(value="") option 2
                    option(value="") option 3
              .row
                .col-12
                  button.btn.btn-primary.btn-lg(type="submit") Submit Now

              .row(style="margin-top:35px")
                .col-12
                  .custom-label
                    label(for="ident")
                      input#ident(type="checkbox", name="")
                      span.custom-label__marker

    section.section
      .container
        .row
          .col-12
            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Af6d9cca34d8e7eb6001514c77a1e18223a9c2d547787335be370f2f873e71477&amp;width=100%25&amp;height=450&amp;lang=ru_RU&amp;scroll=true"></script>

block footer
  include blocks/page-footer/index
