extends layout/main

block meta
  title=pageTitle

block content

  .page__content
    //- start Первый блок
    include blocks/section-header/index

    //- start блок с видео
    include blocks/section-video/index

    //- start блок Features
    include blocks/section-features/index

    section.section.section-contact
      .container
        .row
          .col-6
            .section-contact__text
              h2.h2 Contact
              p Questions or concerns? Just fill out the form below and our support team will get back to you within 24 hours
          .col-6
            form.form(action="")
              .row
                .col-6
                  input.form-control(type="text" placeholder="First Name")
                .col-6
                  input.form-control(type="text" placeholder="Last Name")
              .row
                .col-12
                  input.form-control(type="tel" placeholder="Phone Number")
              .row
                .col-12
                  select.form-control(name="")
                    option(value="") option 1
                    option(value="") option 2
                    option(value="") option 3
              .row
                .col-12
                  button.btn.btn-primary.btn-lg(type="submit") Submit Now


block footer
  include blocks/page-footer/index
