.container
  .row
    .col
      p
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor deserunt autem, fugiat aliquid cumque
        | repudiandae minus pariatur amet maiores molestiae eaque saepe hic est dignissimos sint consectetur
        | voluptatum laudantium adipisci?
