section.section.section-video
  .container
    .row
      .col-6
        h3 Easy to Use Cloud Budget Management Software
        p
          | Our software is made so you can access and manage your budget
          | and expenses online at any time from any device. It provides
          | detailed income and expense reports with graphs so you can
          | easilly see your spending patterns and budget at a glance.
          | Read below to find out more.
        p
          a(href="#") Learn More
      .col-6
        iframe(width="560" height="315" src="https://www.youtube.com/embed/4avdigfU1oI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="")
