header.page-header
  .container
    .row
      .logo
        img(src="" alt="логотип сайта")
      nav.page-nav
        ul
          +headerNav("#", "OVERVIEW")
          +headerNav("#", "FEATURES")
          +headerNav("#", "TECHNOLOGY")
          +headerNav("#", "CONTACT")
          +headerNav("#", "Sign up")
      .auth
        a(href="#") Login
