.page-header {
  position: absolute;
  z-index: 111;
  top: 0;
  width: 100%;
  padding-top: 50px;
}

.page-nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }

  &__link {
    display: inline-block;
    font-family: Lato;
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;

    color: #fff;
    padding: 14px 7px;
    &.active {
      font-weight: 700;
    }
  }
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
