section.section.section-features.section_colored
  .container
    h2.h2.text-center Features
    .swiper-container.slider
      .swiper-wrapper
        .swiper-slide.slider__item
          .card
            .card__img
              <picture>
                <source type="image/webp" srcset="img/card.webp">
                <img class="img-responsive" src="img/card.png" width="350" height="250">
              </picture>
            .card__inner.text-center
              h3.card__name
                | Supports All Currencies and Cards
              .card__info
                p We support all popular currencies and is fully customizable to add
              .card__footer
                a(href="index.html") Read More

        .swiper-slide.slider__item
          .card
            .card__img
              <picture>
                <source type="image/webp" srcset="img/card.webp">
                <img class="img-responsive" src="img/card.jpg, img/card@2x.jpg 2x">
              </picture>
            .card__inner.text-center
              h3.card__name
                | Supports All Currencies and Cards Supports All Currencies and Cards
              .card__info
                p We support all popular currencies and is fully customizable to add
              .card__footer
                a(href="#") Read More

        .swiper-slide.slider__item
          .card
            .card__img
              <picture>
                <source type="image/webp" srcset="img/card.webp">
                <img class="img-responsive" src="img/card.png">
              </picture>
            .card__inner.text-center
              h3.card__name
                | Supports All Currencies and Cards
              .card__info
                p We support all popular currencies and is fully customizable to add
                p We support all popular currencies and is fully customizable to add
              .card__footer
                a(href="#") Read More

        .swiper-slide.slider__item
          .card
            .card__img
              <picture>
                <source type="image/webp" srcset="img/card.webp">
                <img class="img-responsive" src="img/card.png">
              </picture>
            .card__inner.text-center
              h3.card__name
                | Supports All Currencies and Cards
              .card__info
                p We support all popular currencies and is fully customizable to add
                p We support all popular currencies and is fully customizable to add
              .card__footer
                a(href="#") Read More

        .swiper-slide.slider__item
          .card
            .card__img
              <picture>
                <source type="image/webp" srcset="img/card.webp">
                <img class="img-responsive" src="img/card.png">
              </picture>
            .card__inner.text-center
              h3.card__name
                | Supports All Currencies and Cards
              .card__info
                p We support all popular currencies and is fully customizable to add
                p We support all popular currencies and is fully customizable to add
              .card__footer
                a(href="#") Read More
