section.section-header
  .container
    div
      h1 CloudBudget
      p
        | Cloud budget management for everyone. Only €69.95 a Month After
        | a 7 Day Trial of
        br
        | Up to €4.99
      p
        a.btn.btn--white(href="#") Sign Up
