section.section-header
  //- start Шапка сайта
  include ../page-header/index
  .container
    div
      h1.page-title CloudBudget
      p.section-header__text
        | Cloud budget management for everyone. Only €69.95 a Month After
        | a 7 Day Trial of
        br
        | Up to €4.99
      .section-header__buttons
        a.btn.btn-secondary.btn-lg(href="#") Sign Up
